/* here is the General setting for all the site*/

html{
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif
}
/* Style for the body*/
body {
  text-align: left;
  margin: 0px;
}
header{
  display: flex;
flex-direction: row;
justify-content:space-between;
height: 400px;
background-image: url(images/Image.jpeg);
}
/*Logot style header*/
#logobox{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

#logo{
  height: 30px;
  width:auto;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
}

/*Webseite style*/

.bgimg{
    background-image: url(images/cityone.jpg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.w-header,.web-line{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin: 0;
    position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 


}

.web-line{
  position: relative;
  width:40%}

.w-logo{
  position: left;
  top:0;
  left:-10px;
  width: 80px;
  height:60px;
}

.maintains{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
